@use "sass:math";

$base-font-size: 16;

@function rem($px) {
  @return calc($px / $base-font-size) * 1rem;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--color-primary: #1a3c34;
	--color-primary-50: #d1d8d6;
	--color-primary-100: #768a85;
	--color-secondary: #dd8b61;
	--color-secondary-30: #f1d1c0;
	--color-secondary-50: #f8e8df;
	--color-white: #fff;
	--color-gray: #5d5d5d;
	--color-gray-50: #dde5e9;
	--color-gray-100: #f7f7f7;
	--color-gray-200: #ececec;
}

html,
body {
	scroll-behavior: smooth;
	scroll-padding-top: rem(50);
}

body {
	font-family: var(--font-bilo);
	margin: 0;
	background-color: var(--color-gray-100);
	-webkit-font-smoothing: antialiased;
}

main {
	position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

svg {
	fill: var(--color-white);
}

// ::-moz-selection {
// 	color: var(--wpe--color--white);
// 	background-color: var(--wpe--color--accent);
// }

// ::selection {
// 	color: var(--wpe--color--white);
// 	background-color: var(--wpe--color--accent);
// }

ul {
	margin: 0;
	padding: 0;
}

figure {
	display: flex;
	margin: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

.loading {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.container {
	&--slick {
		width: 100%;
		margin: 0 auto;
		overflow: hidden;

		@media only screen and (min-width: 1024px) {
			max-width: rem(1240);
		}
	}
}

.text {
	&--center {
		text-align: center;
	}
}

.color {
	&--white {
		color: var(--color-white);
	}

	&--default {
		color: var(--color-primary);
	}
}

/********************** Buttons *********************/
/****************************************************/
/****************************************************/
.button {
	font-family: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	width: max-content;
	min-width: rem(150);
	height: rem(50);
	padding: 0 rem(24);
	border: none;
	border-radius: rem(6) rem(2);
	transition: background-color 0.3s ease;
	cursor: pointer;
	font-size: rem(16);
	font-weight: 400;
	line-height: 150%;

	@media only screen and (max-width: 1024px) {
		margin: 0 auto;
	}

	&--right {
		margin: 0 0 0 auto;
	}

	&--primary {
		color: var(--color-white);
		background-color: var(--color-primary);
	}

	&--white {
		color: var(--color-primary);
		background-color: var(--color-white);
	}

	&--center {
		margin: 24px auto 0;
	}

	&--circle {
		display: inline-block;
		width: rem(30);
		height: rem(30);
		border-radius: rem(40);
		background: url(/icons/icon-arrow-next.svg);
		background-size: rem(10);
		background-repeat: no-repeat;
		background-position: center;
		background-color: var(--color-secondary);
	}
}

/********************** Colors **********************/
/****************************************************/
/****************************************************/
.color {
	&--primary {
		color: var(--color-primary);
	}

	&--white {
		color: var(--color-white);
	}

	&--gray {
		color: var(--color-gray);

		&-100 {
			color: var(--color-gray-100);
		}
	}
}

/******************** Base Slick ********************/
/****************************************************/
/****************************************************/
.slick {
	&-dots {
		position: absolute;
		bottom: rem(30);
		display: flex !important;
		justify-content: center;
		width: 100%;

		li {
			display: flex;
			margin: 0 rem(5);
		}

		button {
			width: rem(10);
			height: rem(10);
			padding: 0;
			font-size: 0;
			border: 0;
			border-radius: rem(10);
			background-color: var(--color-white);
			cursor: pointer;
		}
	}

	&-track {
		padding-bottom: rem(20);
	}

	&-active {
		button {
			background-color: var(--color-secondary);
		}
	}
}

.custom {
	&-arrows {
		&__ {
			&prev,
			&next {
				width: rem(60);
				height: rem(60);
				padding: 0;
				border: 0;
				border-radius: rem(100);
				background-color: var(--color-secondary);
				cursor: pointer;
			}

			&prev {
				background-image: url(/icons/icon-arrow-prev.svg);
				background-size: rem(20);
				background-repeat: no-repeat;
				background-position: center;
			}

			&next {
				background-image: url(/icons/icon-arrow-next.svg);
				background-size: rem(20);
				background-repeat: no-repeat;
				background-position: center;
			}
		}
	}
}

/******************* Class Global *******************/
/****************************************************/
/****************************************************/
.space {
	display: block;

	&--5 {
		padding: rem(5);
	}

	&--10 {
		padding: rem(10);
	}

	&--20 {
		padding: rem(20);
	}

	&--30 {
		padding: rem(30);
	}

	&--40 {
		padding: rem(40);
	}
}

.Cards {
	&Grid,
	&GridFourCarusel {
		.slick {
			&-slide {
				padding: 0 rem(20) 0 0;

				@media only screen and (min-width: 1024px) {
					padding: 0 rem(21);
				}
			}
		}
	}

	&GridThreeCarusel {
		.slick {
			&-slide {
				padding: 0 rem(21);

				@media only screen and (min-width: 680px) {
					padding: 0 rem(10);
				}

				@media only screen and (min-width: 1024px) {
					padding: 0 rem(21);
				}
			}

			&-current {
				img {
					aspect-ratio: 3 / 4;
				}
			}

			&-track {
				padding: 0;
			}
		}

		&__info {
			position: relative;
			.slick {
				&-slide {
					padding: 0;
				}
			}
		}
	}

	&GridThree {
		.slick {
			&-dots {
				position: relative;
				bottom: 0;

				button {
					&:before {
						font-size: rem(12);
						opacity: 0.4;
						color: var(--color-secondary);
					}
				}
			}

			&-active {
				button {
					&:before {
						color: var(--color-secondary) !important;
					}
				}
			}

			&-list {
				padding-bottom: rem(20);
			}
		}
	}

	&Post {
		padding: rem(40) 0 0;

		@media only screen and (min-width: 1024px) {
			padding: rem(80) 0 0;
		}

		&__grid {
			display: grid;
			gap: rem(20);
			padding: rem(40) 0 0;

			@media only screen and (min-width: 680px) {
				grid-template-columns: repeat(2, 1fr);
			}

			@media only screen and (min-width: 1024px) {
				grid-template-columns: repeat(3, 1fr);
			}
		}

		&__scroll {
			width: 100%;
			padding: 0 0 0 rem(5);

			@media only screen and (min-width: 900px) {
				max-width: rem(1248);
				margin: 0 auto;
				padding: 0 rem(20);
			}
		}

		&__category {
			display: flex;
			column-gap: rem(10);
			padding-bottom: rem(30);
			overflow: auto;
			white-space: nowrap;

			@media only screen and (min-width: 900px) {
				display: flex;
				gap: rem(30);
				overflow: inherit;
				white-space: inherit;
			}

			li {
				display: inline-block;
			}

			.category {
				display: grid;
				grid-template-columns: rem(44) 1fr;
				align-items: center;
				column-gap: rem(20);
				font-size: rem(16);
				padding: rem(15) rem(20);
				border-radius: rem(6) rem(2);
				box-shadow: 0 0.25rem 0.75rem 0 rgba(26, 60, 52, 0.1);
				cursor: pointer;

				@media only screen and (min-width: 900px) {
				}
			}
		}
	}

	&GridThreeCaruselBlog {
		.slick {
			&-arrow {
				display: none !important;
			}
			&-slide {
				padding: 0 rem(10) 0 0;

				@media only screen and (min-width: 1024px) {
					padding: 0 rem(5);
				}
			}
		}
	}
}

.sectionAcordionTODO {
	padding: rem(40) 0 0;

	@media only screen and (min-width: 1024px) {
		padding: rem(80) 0 0;
	}

	&__grid {
		display: grid;
		row-gap: rem(24);

		@media only screen and (min-width: 1024px) {
			grid-template-columns: 1fr 1fr;
			column-gap: rem(40);
		}
	}

	&__img {
		border-radius: rem(20) rem(6);
		overflow: hidden;
	}
}

.Hero {
	&Carusel {
		.slick {
			&-dots {
				bottom: rem(50);

				button {
					&:before {
						font-size: rem(12);
						opacity: 1;
						color: var(--color-white);
					}
				}
			}

			&-active {
				button {
					&:before {
						color: var(--color-secondary) !important;
					}
				}
			}

			&-track {
				padding-bottom: 0;
			}
		}
	}
}

.sectionDetailPost {
	padding: rem(40) 0 0;
	@media only screen and (min-width: 1024px) {
		padding: rem(80) 0 0;
	}

	&__grid {
		display: grid;
		padding: rem(80) 0 0;

		@media only screen and (min-width: 1024px) {
			grid-template-columns: 3fr 1fr;
			column-gap: rem(50);
		}

		.heading--54 {
			padding-bottom: rem(20);
		}
	}

	&__img {
		position: relative;
		min-height: rem(400);
		margin-bottom: rem(40);
	}

	&__post {
		display: grid;
		grid-template-columns: rem(73) 1fr;
		border-radius: rem(20) rem(6);
		background-color: var(--color-white);
		box-shadow: 0 rem(4) rem(12) 0 rgba(26, 60, 52, 0.1);
		margin-bottom: rem(20);

		&:hover {
			img {
				transform-origin: center;
				transform: translate(0%, 0%) rotate(3deg) scale(1.1);
			}
		}
	}

	&__thumbnail {
		position: relative;
		display: block;
		height: rem(100);
		border-radius: rem(20) rem(6);
		overflow: hidden;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(
				180deg,
				rgba(0, 0, 0, 0) 0%,
				rgba(0, 0, 0, 0.7) 100%
			);
			z-index: 1;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: transform 0.4s ease-in-out;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		row-gap: rem(5);
		padding: rem(10);
	}
}

.sectionSideBar {
	position: sticky;
	top: rem(120);
	height: fit-content;

	.heading--18 {
		padding-bottom: rem(20);
	}
}

.sectionTextImage {
	.slick {
		&-track {
			padding-bottom: 0;
		}

		&-slide {
			height: rem(500);
		}

		&-dots {
			bottom: rem(10);
			z-index: 1;

			button {
				&:before {
					font-size: rem(12);
					opacity: 1;
					color: var(--color-white);
				}
			}
		}

		&-active {
			button {
				&:before {
					color: var(--color-secondary) !important;
				}
			}
		}
	}
}

/* Pagination */
.pagination {
	display: flex;
	justify-content: center;
	column-gap: rem(5);
	padding: rem(10) rem(24);

	@media only screen and (min-width: 1024px) {
		column-gap: rem(10);
		padding: rem(24);
	}

	&__prev,
	&__next {
		font-family: inherit;
		display: inline-block;
		padding: rem(10) rem(20);
		font-size: rem(10);
		color: var(--color-white);
		border: 0;
		border-radius: rem(6);
		line-height: 150%;
		letter-spacing: rem(1);
		text-transform: uppercase;
		background-color: var(--color-primary);
		cursor: pointer;

		@media only screen and (min-width: 1024px) {
			font-size: rem(12);
		}
	}

	&__currentPage {
		font-family: inherit;
		padding: rem(5) rem(10);
		font-size: rem(10);
		border: 0;
		border-radius: rem(6);
		background-color: var(--color-gray-200);
		cursor: pointer;

		@media only screen and (min-width: 1024px) {
			font-size: rem(12);
		}

		&.active {
			color: var(--color-white);
			background-color: var(--color-primary);
		}
	}
}

/*********************** Forms **********************/
/****************************************************/
/****************************************************/
.contact {
	&__form {
		display: grid;
		gap: rem(12);
		&-group {
			display: grid;
			row-gap: rem(12);
			@media only screen and (min-width: 1024px) {
				grid-template-columns: 1fr 1fr;
				column-gap: rem(40);
			}
		}

		&-full {
			grid-row: 2 span;
		}
	}
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
	font-family: inherit;
	width: 100%;
	height: rem(60);
	padding: rem(5) rem(24);
	font-size: rem(16);
	color: var(--color-primary);
	border-radius: rem(6);
	border: rem(1) solid var(--color-gray-50);
	background-color: var(--color-white);

	&::-webkit-input-placeholder {
		color: var(--color-primary-100);
		font-size: rem(16);
		font-style: normal;
		font-weight: 400;
		line-height: 150%;
	}

	&::-moz-placeholder {
		color: var(--color-primary-100);
		font-size: rem(16);
		font-style: normal;
		font-weight: 400;
		line-height: 150%;
	}

	&:-ms-input-placeholder {
		color: var(--color-primary-100);
		font-size: rem(16);
		font-style: normal;
		font-weight: 400;
		line-height: 150%;
	}

	&:-moz-placeholder {
		color: var(--color-primary-100);
		font-size: rem(16);
		font-style: normal;
		font-weight: 400;
		line-height: 150%;
	}
}

select {
	color: var(--color-primary-100);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='21' viewBox='0 0 21 21' fill='none'%3E%3Cpath d='M17.0265 7.65516L10.6773 14.0044L4.32812 7.65516' stroke='%23A3B1AE' stroke-width='1.26984' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: calc(100% - rem(20)) center;
}

textarea {
	color: var(--color-white);
	font-size: rem(16);
	height: auto;
}
