@use '@/styles/functions' as *;

.bckg {
  position: relative;
  aspect-ratio: 600 / 694;
  border-radius: 0 0 rem(12) rem(44);
  overflow: hidden;

  // @media only screen and (min-width: 1024px) and (min-height: 650px) {
  //   height: rem(650);
  //   border-radius: 0 0 rem(10) rem(54);
  // }

  @media only screen and (min-width: 1024px) {
    aspect-ratio: 1440 / 550;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    aspect-ratio: 2 / 1;
    object-fit: cover;
  }
}

.heading {
  position: relative;
  display: grid;
  place-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1;
}
